---
import Villas from '../components/Villas.astro';
import BasicLayout from '../layouts/BasicLayout.astro';
---
<BasicLayout
	title="Travel with Aley Concierge top"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	
>
    <!--==================== Villas ====================-->
        <section class="home section" id="home">
            <h2>Here our villas</h2>        
            <Villas />
        </section>

        
</BasicLayout>