---


---
<section class="destination section" id="destination">
            <h2 class="section__title">Find A Vehicle That Is<br> Comfortable For You To Drive
               </h2>

            <div class="destination__container container grid">
               <article class="destination__card">
                  <img src="assets/img/PCX-150.png" alt="image" class="destination__img" />

                  <div class="destination__data">
                     <h3 class="destination__subtitle">Motorcicle</h3>
                     <h2 class="destination__title">PCX 150</h2>
                     <p class="destination__country">
                        <i class="ri-map-pin-2-fill"></i>
                        <span>Indonesia</span>
                     </p>
                  </div>
               </article>

               <article class="destination__card">
                  <img src="assets/img/alphard.png" alt="image" class="destination__img" />

                  <div class="destination__data">
                     <h3 class="destination__subtitle">Premium Car</h3>
                     <h2 class="destination__title">Alphard</h2>
                     <p class="destination__country">
                        <i class="ri-map-pin-2-fill"></i>
                        <span>Thailand</span>
                     </p>
                  </div>
               </article>

               <article class="destination__card">
                  <img src="assets/img/avanza.png" alt="image" class="destination__img" />

                  <div class="destination__data">
                     <h3 class="destination__subtitle">Daily Car</h3>
                     <h2 class="destination__title">Avanza</h2>
                     <p class="destination__country">
                        <i class="ri-map-pin-2-fill"></i>
                        <span>Grace</span>
                     </p>
                  </div>
               </article>

            </div>
         </section>