---

---        
        
        <section class="destination section" id="destination">
            <div class="offer__container__top container grid">
               <h2 class="">We Offer The Best  <br> Experience</h2>
               <p class="description">
                  Let us craft your dream adventure. Our crew is dedicated to creating a personalized journey through Indonesia, tailored just for you.
               </p>
               
            </div>

            <div class="offer__container container grid">
               <div class="offer__card">
                  <img src="assets/img/bali-zoo.png" alt="image" class="destination__img" />
                  <div class="offer__data">
                     <h5>Animal Lover Package 1</h5>
                     <p>Destination</p>
                     <ul>
                        <li><i class="ri-checkbox-circle-fill"></i>Bali Zoo</li>
                        <li><i class="ri-checkbox-circle-fill"></i>Monkey Forest</li>
                        <li><i class="ri-checkbox-circle-fill"></i>Lunch all tickets and transport </li>
                     </ul>

                     <p class="price">
                        USD $55,00 / person
                     </p>
                     <button class="book__now">
                        Book Now
                     </button>
                  </div>

               </div>

               <div class="offer__card">
                  <img src="assets/img/bali-zoo-2.png" alt="image" class="destination__img" />
                  <div class="offer__data">
                     <h5>Animal Lover Package 2</h5>
                     <p>Destination</p>
                     <ul>
                        <li><i class="ri-checkbox-circle-fill"></i>Bali Bird Park</li>
                        <li><i class="ri-checkbox-circle-fill"></i>Monkey Forest</li>
                        <li><i class="ri-checkbox-circle-fill"></i>Lunch & transport </li>
                     </ul>

                     <p class="price">
                        USD $55,00 / person
                     </p>

                     <button class="book__now">
                        Book Now
                     </button>
                  </div>

               </div>

               <div class="offer__card">
                  <img src="assets/img/bali-zoo.png" alt="image" class="destination__img" />
                  <div class="offer__data">
                     <h5>Animal Lover Package 3</h5>
                     <p>Destination</p>
                     <ul>
                        <li><i class="ri-checkbox-circle-fill"></i>Bali Bird Park</li>
                        <li><i class="ri-checkbox-circle-fill"></i>Monkey Forest</li>
                        <li><i class="ri-checkbox-circle-fill"></i>Lunch & transport </li>
                     </ul>

                     <p class="price">
                        USD $55,00 / person
                     </p>

                     <button class="book__now">
                        Book Now
                     </button>
                  </div>

               </div>

               <div class="offer__card">
                  <img src="assets/img/explore-1.png" alt="image" class="destination__img" />
                  <div class="offer__data">
                     <h5>Explore Package 1</h5>
                     <p>Destination</p>
                     <ul>
                        <li>Bali Zoo</li>
                        <li>Bali Zoo</li>
                        <li>Bali Zoo</li>
                     </ul>

                     <p class="price">
                        USD $55,00 / person
                     </p>

                     <button class="book__now">
                        Book Now
                     </button>
                  </div>

               </div>

               <div class="offer__card">
                  <img src="assets/img/adventure2.png" alt="image" class="destination__img" />
                  <div class="offer__data">
                     <h5>Explore Package 2</h5>
                     <p>Destination</p>
                     <ul>
                        <li>Bali Zoo</li>
                        <li>Bali Zoo</li>
                        <li>Bali Zoo</li>
                     </ul>

                     <p class="price">
                        USD $55,00 / person
                     </p>

                     <button class="book__now">
                        Book Now
                     </button>
                  </div>

               </div>
            </div>

            <div class="container right-button">
            <a href="#" class="top__button">View All Packages</a>
            </div>
         </section>